<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="DatabaseConnection" connectionString="Data Source=DESKTOP-8ADROVS\MSSQLSERVER2017;Initial Catalog=novenco;Trusted_Connection=true" />

<!--<add name="DatabaseConnection" connectionString="Data Source=.;Initial Catalog=novenco;Trusted_Connection=true" />-->

  </connectionStrings>
</configuration>